

#app {
}
#header {
  height: var(--header-height);
  background-color: black;
  position: fixed;
  width: 100%;
  left: 12px;
  z-index: 2;
}
.nav_ div {
}

.nav_ div a {
  display: block;
  line-height: 46px;
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.nav_ div div:hover>a {
  background-color: #333;
}


.nav-down {
  position: relative;
}

.subnav {
  display: none;
  z-index: 2;
  position: absolute;
  width: 160px;
  box-shadow: 2px 2px 10px #000;
  list-style: none;
  padding: 0;
}
.subnav a {
  border-bottom: 1px solid #000;
  text-shadow: 1px 1px 3px #000;
}

div:hover>.subnav {
  background-color: #3333335f;
  display: block;
}
.subnav li:hover {
  background-color: #333333ad;
}

.right-btn {
  display: inline-block;
  width: 60px;
  height: var(--header-height);
  position: absolute;
  right: 0;
  padding: 0;
}

.right-btn button {
  height: 100%; width: 60px;
  border: none;
  color: white;
  background-color: black;
  z-index: 2;
}

.right-btn .menu-btn {
  display: none;
}
#header .right-btn:hover button{
  background-color: #333;
  color: rgb(235, 110, 110);
}
.right-btn button i {

}

#bodyr {
  position: relative;
  top: var(--header-height);
}

.slider {
  position: relative;
}

.slider img {
  position: relative;
  width: 100%;
}

.slider-img{

}

.slider h3,
.slider h2 {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 80px;
  color: white;
  text-shadow: 1px 1px 3px #000;
}

.slider h3 {
  bottom: 40px;
}

.slider i {
  display: inline-block;
  height: 200px; width: 46px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  color: rgba(0, 0, 0, 0);
  top: 0;
  height: 100%;
  width: 33%;
}

.slider i:last-child {
  right: 0;
}



.hide {
  display: none;
}

@media (max-width : 1199px) and (min-width: 768px) {

}

@media (max-width : 767px) {
  .right-btn {
    height: 46px;
  }
  .right-btn .search-btn {
    display: none;
  }
  .right-btn .menu-btn {
    display: block;
  }

  #header {
    overflow: hidden;
  }
}
